
<h3 class="pt-3">Personas que han hecho lo mismo</h3>
<table class="table table-striped table-borderless table-hover">
    <thead class="thead-info">
        <th>Name</th>
        <th>Email</th>
    </thead>
    <tbody>
        <% @list.each do |l| %>
            <tr>
                <td><%= l.user.name %></td>
                <td><%= l.user.email %></td>
            </tr>
        <% end %>
    </tbody>
</table>