<div class="row">
  <div class="col-6">
    <h1> <%= @task.name %></h1>
    <p> <em>Nombre actividad</em> </p>

    <img src="<%= @task.image %>" class="rounded mx-auto d-block img-fluid" alt="...">    
  </div>
  
  <div class="col-6">
    <%= render 'list' %>
  </div> 
  <div class="col-12">
    <br>
  </div>
  <%= link_to 'Back', tasks_path, class: 'btn btn-warning btn-lg' %>
</div>
